{% extends 'layouts/template.html.twig' %}

{% block title %}Tab!{% endblock %}
{% block pageTitle %}Users{% endblock %}

{% block body %}
{% include('fragment/date.html.twig') %}
    <div class="container text-primary mt-3">
        <h1>Bonjour! vous êtes sur la page des utilisateurs</h1>
    </div>
    <div class="py-5 container">
        <table class="table">
            <thead>
            <tr class="table-active">
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Age</th>
                <th>Msg</th>
            </tr>
            </thead>
            <tbody>
            {# odd si index de la boucle est impair | even si pair #}
            {% for user in users %}
                <tr class="table-{% if loop.index is odd %}info{% else %}primary{% endif %}">
                    <td>{{ user.firstname | capitalize }}</td>
                    <td>{{ user.lastname | capitalize }}</td>
                    <td>{{ user.age }}</td>
                    <td>{{ render(controller('App\\Controller\\FirstController::hello', {nom: user.firstname, prenom: user.lastname})) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}

