{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}

    <div class="container text-info mt-3">
        <h1>Bonjour!</h1>
        <p>Vous avez visité cete page {{ app.session.get('nbVisite') }} fois</p>
    </div>
{% endblock %}
